:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --gris-claro: #DFE9E3;
}

/* Global */
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--gris-claro) 0%, var(--blanco) 100%);
    /* 1rem = 10px */
}

.contenedor{
    max-width: 80rem;
    margin: 0 auto;

    /*
        MARGEN -> top - right - bottom - left
        margin: 0 auto 0 auto;

        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
    */
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 480px) {
    .boton{
        width: auto;
        margin-top: 4rem;
    }
}

.boton:hover {
    cursor: pointer;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    background-color: var(--blanco);
    padding: 2.5rem;
    border-radius: 1rem;
}

/* Tipografia */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;
}

/* Utilidades */
.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}

/* Titulos */
.titulo span{
    font-size: 1.8rem;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;

    /*
        PADDING -> top - right - bottom - left
    */
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }

    /*
        480px telefono
        768px tablet
        1140px laptop
        1440px 
    */
}

.navegacion-principal a{
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
    font-weight: bold;
}

.nav-bg{
    background-color: var(--secundario);
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0,0,0,0.5); 
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Alinear verticalment y horizontalmente*/

    /*
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    */
}

.contenido-hero h2, .contenido-hero {
    color: var(--blanco);
}

.ubicacion {
    display: flex;
    align-items: flex-end;
}

/* Servicios */
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.servicios {
    padding-bottom: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .servicios {
        /* CSS Grid */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
    
        /*
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-columns: 33.3% 33.3% 33.3%;
            grid-template-rows: 300px 800px;
            grid: 300px 300px / 400px 400px;
        */
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: bold;
}

.servicio p {
    line-height: 2;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3), 
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}

.campo{
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.campo textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.footer {
    text-align: center;
}